@for (item of datos; track $index) {
      <div class="item" >
        <div class="item-header">{{ item.nombre }}</div>
        <div class="item-body">
          <span><strong>Solicitud:</strong> {{ item.fecha_solicitud }}</span>
          <span><strong>Préstamo:</strong> {{ item.fecha_prestamo }}</span>
          <span><strong>Esperada:</strong> {{ item.fecha_devolucion_esperada }}</span>
          <span><strong>Observación:</strong> {{ item.observacion }}</span>
          <span><strong>Devolución:</strong> {{ item.fecha_devolucion }}</span>
          <span><strong>Estado:</strong> {{ item.estado }}</span>
        </div>
      </div>
    }