<div class="carrito-container">
  <ul class="capsule-list">
    @for(item of (carrito | keyvalue); track item.key) {
    <li class="capsule">
      <img
        class="product-img"
        src="{{ item.value.imagen || '' }}"
        alt="{{ item.value.nombre }}"
      />

      <div class="info-product">
        <h3 class="product-title">{{ item.value.nombre }}</h3>
        <p class="product-propietary">Propietario: IMT</p>
      </div>

      <div class="cantidad-group">
        <label class="label-cantidad" for="cantidad_{{ item.key }}"
          >Cantidad</label
        >
        <select
          id="cantidad_{{ item.key }}"
          [ngModel]="item.value.cantidad"
          (ngModelChange)="cambiarcantidad(item.key, $event)"
        >
          <option *ngFor="let n of cantidades" [value]="n">{{ n }}</option>
        </select>
      </div>
      
      <button (click)="cambiarcantidad(item.key, 0)" class="boton-eliminar" title="Eliminar del carrito">
        <i class="fas fa-trash-alt"></i>
      </button>
    
    </li>
    }
  </ul>

  <!-- Fechas globales para todo el préstamo (fuera del bucle) -->

    <div class="dates-picker">
      <div class="date-field">
        <label for="fechaInicio" (click)="abrirCalendario('fechaInicio')">Fecha de Inicio</label>
        <div class="input-wrapper" (click)="abrirCalendario('fechaInicio')">
          <input
            type="date"
            id="fechaInicio"
            [(ngModel)]="fecha_inicio"
            (ngModelChange)="cambiarfechainicio($event)"
            [min]="hoystr"
            [max]="fechamaxima(fecha_inicio)"
          />
        </div>
      </div>
      <div class="date-field">
        <label for="fechaFin" (click)="abrirCalendario('fechaFin')">Fecha de Fin</label>
        <div class="input-wrapper" (click)="abrirCalendario('fechaFin')">
          <input
            type="date"
            id="fechaFin"
            [(ngModel)]="fecha_final"
            (ngModelChange)="cambiarfechafinal($event)"
            [min]="fecha_inicio"
            [max]="fechamaxima(fecha_inicio)"
          />
        </div>
      </div>
    </div>


  <div class="error">{{ verificarfecha() }}</div>

  <button (click)="clickboton()" class="boton-carrito"
    [disabled]="botonDeshabilitado()"
  >
    Confirmar Solicitud
  </button>

  @if(errorboton()){
  <app-mostrarerror
    [error]="errorboton"
    [mensaje]="mensajeerror"
  ></app-mostrarerror>
  } 
  
</div>
