<div class="carrito-container">
  <ul class="capsule-list">
    @for(item of (carrito | keyvalue); track item.key) {
    <li class="capsule">
      <img
        class="product-img"
        src="{{ item.value.imagen || '' }}"
        alt="{{ item.value.nombre }}"
      />

      <div class="info-product">
        <h3 class="product-title">{{ item.value.nombre }}</h3>
        <p class="product-propietary">Propietario: IMT</p>
      </div>

      <div class="cantidad-group">
        <label class="label-cantidad" for="cantidad_{{ item.key }}"
          >Cantidad</label
        >
        <select
          id="cantidad_{{ item.key }}"
          [ngModel]="item.value.cantidad"
          (ngModelChange)="cambiarcantidad(item.key, $event)"
        >
          <option *ngFor="let n of cantidades" [value]="n">{{ n }}</option>
        </select>
      </div>

      <div class="dates-picker">
        <div class="date-field">
          <label for="fechaInicio_{{ item.key }}">Inicio</label>
          <input
            type="date"
            id="fechaInicio_{{ item.key }}"
            [(ngModel)]="item.value.fecha_inicio"
            (ngModelChange)="cambiarfechainicio($event)"
            [min]="hoystr"
            [max]="fechamaxima(item.value.fecha_inicio)"
          />
        </div>
        <div class="date-field">
          <label for="fechaFin_{{ item.key }}">Fin</label>
          <input
            type="date"
            id="fechaFin_{{ item.key }}"
            [(ngModel)]="item.value.fecha_final"
            (ngModelChange)="cambiarfechafinal($event)"
            [min]="item.value.fecha_inicio"
            [max]="fechamaxima(item.value.fecha_inicio)"
          />
        </div>
      </div>

      <div class="error">{{ verificarfecha(item) }}</div>
    </li>
    }
  </ul>

  <button (click)="clickboton()" class="boton-carrito"
    [disabled]="carritovacio()"
  >
    Confirmar Solicitud
  </button>

  @if(errorboton()){
  <app-mostrarerror
    [error]="errorboton"
    [mensaje]="mensajeerror"
  ></app-mostrarerror>
  } 
  
</div>
