<div class="grid-container">
    @for (item of productos; track item.nombre) {
  <div class="item-card">
    <a [routerLink]="['/Objeto', item.id]">
      <div class="item-image-container">
        <img [src]="item.link"
             alt="{{ item.nombre + item.modelo + item.marca }}"
             (error)="handleImageError(item)"
             class="item-image">
        @if (!item.link) {
        <div class="processing-state">
          <div class="spinner"></div>
          <span>Imagen no disponible</span>
        </div>
        }
      </div>
      <h3 class="item-title">{{ item.nombre + item.modelo + item.marca}}</h3>
    </a>
  </div>
    }
  
  
  </div>

