<div class="form-container">
  <h2>Registrar Accesorio</h2>
  <form id="accesorioForm" method="POST">

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" required />
    </div>

    <div class="form-group">
      <label for="modelo">Modelo</label>
      <input type="text" id="modelo" name="modelo" required />
    </div>

    <div class="form-group">
      <label for="tipo">Tipo</label>
      <input type="text" id="tipo" name="tipo" required />
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" formControlName="descripcion" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="codigo_imt">Codigo IMT de Equipo Vinculado</label>
      <input type="number" id="codigo_imt" name="codigo_imt" required />
    </div>

    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="number" id="precio" name="precio" required
             step="any"
             placeholder="Ej: 123.45" />
    </div>

    <div class="form-group">
      <label for="url_data_sheet">URL Data Sheet</label>
      <input type="url" id="url_data_sheet" name="url_data_sheet" required />
    </div>


    <div class="form-submit">
      <button type="submit">Registrar</button>
    </div>
  </form>
</div>
