<div class="profile-container">
  <h2>Tu Perfil</h2>
  <div class="avatar-container">
    <img ngSrc="assets/profile_line.png"
         width="64" height="64" alt="Avatar de usuario">
  </div>

  <!-- Mostrar datos actuales -->

  <div class="display-data">
    <div class="form-group"><label>Nombre:</label><p>{{ usuario.nombre || '-' }}</p></div>
    <div class="form-group"><label>Carnet:</label><p>{{ usuario.carnet || '-' }}</p></div>
    <div class="form-group"><label>Apellido Paterno:</label><p>{{ usuario.apellido_paterno || '-' }}</p></div>
    <div class="form-group"><label>Apellido Materno:</label><p>{{ usuario.apellido_materno || '-' }}</p></div>
    <div class="form-group"><label>Correo:</label><p>{{ usuario.correo || '-' }}</p></div>
    <div class="form-group"><label>Teléfono:</label><p>{{ usuario.telefono || '-' }}</p></div>
    <div class="form-group"><label>Carrera:</label><p>{{ usuario.carrera || '-' }}</p></div>
    <div class="form-group"><label>Nombre de Referencia:</label><p>{{ usuario.nombre_referencia || '-' }}</p></div>
    <div class="form-group"><label>Telefono de Referencia:</label><p>{{ usuario.telefono_referencia || '-' }}</p></div>
    <div class="form-group"><label>Email de Referencia:</label><p>{{ usuario.email_referencia || '-' }}</p></div>
    <div class="buttons">
      <button type="button" (click)="toggleEdit()">Actualizar</button>
    </div>
  </div>

  
</div>

@if(editar()){
  <app-editar
  [botoneditar]="editar"
  [usuario]="usuario"

  >

  </app-editar>
}
