<!-- app.component.html -->
<section>
  <app-navbar (seleccion)="getitemNavbar($event)"></app-navbar>

  @if (eleccionNavbar === 'home') {
    <app-pantalla-main (itemSelected)="getitem($event)"></app-pantalla-main>
  }
  @else if (eleccionObjeto) {
    <app-objeto 
      [objeto]="{
        nombre: eleccionObjeto,
        descripcion: 'Descripción detallada del producto...',
        imagenUrl: 'url-de-la-imagen.jpg'
      }">
    </app-objeto>
  }
  @else {
    <app-pantalla-main (itemSelected)="getitem($event)"></app-pantalla-main>
  }
</section>
