<nav
  class="navbar-container"
  [class.open]="showUserMenu()"
  role="navigation"
  aria-label="Main navigation"
>
  <div class="left-section">
    <button
      type="button"
      class="icon-button home-button"
      aria-label="Ir a inicio"
      (click)="botonhome()"
    >
      <img
        #homeIcon
        src="/assets/home_line.png"
        alt="Icono de inicio"
        class="icon-image"
        (mouseenter)="homeIcon.src = '/assets/home_solid.png'"
        (mouseleave)="homeIcon.src = '/assets/home_line.png'"
      />
    </button>
  </div>
  <div class="logo-container">
    <img src="/assets/logo_universidad.png" alt="Logo UCB" class="logo-image" />
  </div>
  <div class="right-section">
    <button
      type="button"
      class="icon-button cart-button"
      aria-label="Mostrar carrito"
      (click)="mostrarcarrito()"
    >
      <img
        #cartIcon
        src="/assets/shopping_card_line.png"
        alt="Icono de carrito"
        class="icon-image"
        (mouseenter)="cartIcon.src = '/assets/shopping_card_solid.png'"
        (mouseleave)="cartIcon.src = '/assets/shopping_card_line.png'"
      />
      <span class="cart-count">{{ totalproductos() }}</span>
    </button>
    <div class="user-menu">
      <div class="user-circle" (click)="toggleUserMenu()">
        <i class="fas fa-user"></i>
      </div>

      @if(showUserMenu()) {
        <app-usuario-previo
        [showUserMenu]="showUserMenu"
        ></app-usuario-previo>
      }
    </div>
  </div>
</nav>

<!-- Aquí integramos el panel del carrito -->
@if (showCarrito()) {

<app-carrito-previo
[showCarritoevent]="showCarrito"
></app-carrito-previo>
}
