<div class="contenedor">
  <div class="notifications-header">
    <h2>Notificaciones</h2>
  </div>
  
  <div class="notifications-content">
    @for (item of notificaciones; track $index) {
    <div class="notification-item">
      <div class="notification-icon">
        <img src="/assets/notificaciones.png" alt="Notificación">
      </div>
      <div class="notification-text">
        <h4>{{item.Titulo}}</h4>
        <p>{{item.Contenido}}</p>
        <span class="notification-time">{{item.FechaEnvio}}</span>
      </div>

        @if(item.Leido==false){
        <div class="notification-actions">
          <button class="mark-read-button" (click)="leerNotificacion(item.Id)">Marcar como leída</button>
        </div>
        }

    </div>
    }


    @if(notificaciones.length === 0) {
      <div class="no-notifications">
        <p>No tienes notificaciones.</p>
      </div>
    }
    
  </div>
</div>
