<div class="grid-container">
    @for (item of items; track item.name) {
    <div class="item-card">
      <a [routerLink]="['/Objeto', item.name]">
        <div class="item-image-container">
          <img [src]="item.image"
               alt="{{ item.name }}"
               (error)="handleImageError(item)"
               class="item-image">
          @if (!item.image) {
          <div class="processing-state">
            <div class="spinner"></div>
            <span>Imagen no disponible</span>
          </div>
          }
        </div>
        <h3 class="item-title">{{ item.name }}</h3>
      </a>
    </div>
    }
  
  
  
  </div>

