<nav
  class="navbar-container"
  role="navigation"
  aria-label="Main navigation"
>
  <div class="left-section">
    @if(showAdminSidebarToggle()) {
    <button
      type="button"
      class="icon-button menu-button"
      aria-label="Menú Admin"
      (click)="toggleSidebar()"
    >
      <img
        src="assets/menu_line.png"
        alt="Menú Admin"
        class="icon-image menu-icon"
      />
    </button>
    }
    @if(showBack()) {
    <button
      type="button"
      class="icon-button back-button"
      aria-label="Volver atrás"
      (click)="goBack()"
    >
      <img
        src="assets/back_line.png"
        alt="Icono de volver"
        class="icon-image back-icon"
      />
    </button>
    }
    @if(showHome()) {
    <button
      type="button"
      class="icon-button home-button"
      aria-label="Ir a inicio"
      (click)="botonhome()"
    >
      <img
        src="assets/home_line.png"
        alt="Icono de inicio"
        class="icon-image home-icon"
      />
    </button>
    }
  </div>
  <div class="logo-container">
    <img (click)="botonhome()" src="assets/logo_universidad.png" alt="Logo UCB" class="logo-image" title="Ir al home" width="58" height="58" />
  </div>
  <div class="right-section">
   @if(showCart()) {
    <button
      type="button"
      class="icon-button cart-button"
      aria-label="Mostrar carrito"
      (click)="mostrarcarrito()"
    >
      <img
        src="assets/shopping_card_line.png"
        alt="Icono de carrito"
        class="icon-image cart-icon"
      />
      <span class="cart-count">{{ totalproductos() }}</span>
    </button>
    }
    @if(showProfile()) {
    <div class="user-menu">
       <button
        type="button"
        class="icon-button user-button"
        aria-haspopup="true"
        (click)="toggleUserMenu()"
      >
        <img
          src="assets/profile_line.png"
          alt="Icono de usuario"
          class="icon-image user-icon"
        />
      </button>
      @if(showUserMenu()) {
        <app-usuario-previo
          [showUserMenu]="showUserMenu"
        ></app-usuario-previo>
      }
    </div>
    }
  </div>
</nav>
<div class="navbar-spacer"></div>
