@if(cargando){

}
@else{
<div class="contenedor-objeto">
  <div class="seccion-imagen">
    <div class="contenedor-imagen">
      <ng-container *ngIf="producto.link; else noImg">
        <img
          [src]="producto.link"
          alt="{{ producto.nombre }}"
          class="imagen-producto"
        />
      </ng-container>
      <ng-template #noImg>
        <div class="imagen-no-encontrada">No se encontró la imagen</div>
      </ng-template>
    </div>
  </div>
  

  <div class="seccion-detalles">
    <h2 class="nombre-objeto">
      {{ producto.nombre + " " + producto.modelo + " " + producto.marca }}
    </h2>
    <p class="descripcion-objeto">{{ producto.descripcion }}</p>
    

    @if(producto.url_data_sheet){
       <a
        class="ficha-link debajo-texto"
        [href]="producto.url_data_sheet"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Abrir ficha técnica en nueva pestaña"
      >
        Ver ficha técnica
      </a>
    }

    <div class ="seccion-compra">
      <p>Cantidad disponible hoy : {{cantidadDisponible}}</p>
      @if(desabilitarboton==false){
        <button
          (click)="addproductocarrito()"
          class="boton-carrito"
          [class.plomo]="addedToCart"
          [disabled]="addedToCart"
        >
          {{ addedToCart ? "Agregado al carrito" : "Agregar al carrito" }}
        </button>
      }
    </div>

  </div>
</div>

}

@if(error()){
  <app-mostrarerror
  [error]="error"
  [mensaje]="mensajeerror"
  ></app-mostrarerror>
}