.container{
   display: flex;
    position: relative;
    top: 25px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 60px; /* Space for inactive sidebar */
    transition: margin-left 0.3s ease;
}

.container:has(app-sidebard .sidebaractivo) {
    margin-left: 240px; /* Space for active sidebar */
}

.container > *:not(app-sidebard) {
  flex: 1;
  display: block;
}