<!-- objeto.component.html -->
<div class="contenedor-objeto">
  <div class="seccion-imagen">
    <div class="contenedor-imagen">
      @if (objeto.imagenUrl) {
      <img [src]="objeto.imagenUrl"
           alt="{{objeto.nombre}}"
           class="imagen-producto">
      } @else {
      <div class="imagen-no-encontrada">
        No se encontró la imagen
      </div>
      }
    </div>
    <button class="boton-carrito">Añadir al carrito</button>
  </div>

  <div class="seccion-detalles">
    <h2 class="nombre-objeto">{{objeto.nombre}}</h2>
    <p class="descripcion-objeto">{{objeto.descripcion}}</p>
  </div>
</div>
