.signature-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.signature-container {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  width: 600px;
  position: relative;
}
.close-button {
  position: absolute;
  color: black;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
.signature-pad {
  touch-action: none;
  width: 100%;
  height: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #fff;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.buttons button {
  margin: 0;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
}
.buttons button:first-child {
  background-color: #8f9195;
  color: white;
}
.buttons button:first-child:hover {
  background-color: #8f9195;
}
.buttons button:last-child {
  background-color: #FFCF00;
  color: #5f6368;
}
.buttons button:last-child:hover {
  background-color: #FFCF00;
}
.signature-instructions {
  font-size: 1.1em;
  color: #555;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}
