
    <div class="container-search ">
      <!-- Botón de categorías -->
    
        <div class="categories-wrapper">
          <button class="categories-btn" (click)="toggleCategories()">
            <i class="fas fa-filter"></i>
            @if (showCategories) {
            Ocultar categorías
            } @else {
            Ver categorías
            }
          </button>
    
          <!-- Panel de categorías -->
          @if (showCategories) {
          <div class="categories-panel">
            <div class="categories-header">
              <h3>Categorías disponibles</h3>
              <button class="close-btn" (click)="toggleCategories()">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div class="categories-list">
              @for (item of items; track item.name) {
              <div class="category-item">{{ item.name }}</div>
              }
            </div>
          </div>
          }
        </div>

      <textarea placeholder="Ingrese el nombre del equipo buscado" rows="0"
          (keydown.enter)="submitRequest(); $event.preventDefault()"
              ></textarea>
    </div>
    
  <app-lista-objetos></app-lista-objetos>

