
<h1>Restablecer Contraseña</h1>

<form class="reset-password-form" #resetForm="ngForm" (ngSubmit)="cambiarContrasena()">
  <div class="form-group">
    <label for="nuevaContrasena">Nueva Contraseña</label>
    <input 
      type="password" 
      id="nuevaContrasena"
      name="nuevaContrasena"
      [(ngModel)]="nuevaContrasena"
      required
      minlength="6"
      placeholder="Ingresa tu nueva contraseña"
      class="form-input"
      #passwordInput="ngModel"
    >
  </div>
  <div class="error-message">
     @if (passwordInput.errors?.['required']) {
                <div>La contraseña es requerida</div>
              }
    @if (passwordInput.errors?.['minlength']) {
                <div>Mínimo 6 caracteres</div>
              }
  </div>

    <div class="form-group">
        <label for="confirmarContrasena">Confirmar Nueva Contraseña</label>
        <input 
        type="password" 
        id="confirmarContrasena"
        name="confirmarContrasena"
        [(ngModel)]="confirmacionContrasena"
        required

        placeholder="Confirma tu nueva contraseña"
        class="form-input"
        #confirmPasswordInput="ngModel"
      >
    </div>
    <div class="error-message">
         @if (confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)) {
            <div>Confirma tu contraseña</div>
          }
        @if (confirmPasswordInput.value && passwordInput.value && confirmPasswordInput.value !== passwordInput.value) {
            <div>Las contraseñas no coinciden</div>
          }
    </div>
  <button 
    type="submit" 
    class="reset-button"
    [disabled]="resetForm.invalid"
  >
    <span>Restablecer Contraseña</span>
  </button>

