

    @if(verificado()==false){  
    <div class="codigo-container">    
  <h1 class="title">Código de Verificación</h1>
  
  <p class="description">
    Hemos enviado un código de verificación a <strong>{{correo}}</strong>
  </p>
  
  <form class="codigo-form" #codigoForm="ngForm" (ngSubmit)="compararcodigo(codigoUnico.value)">
    <div class="form-group">
      <label for="codigoUnico">Código de Verificación</label>
      <input 
        type="text" 
        id="codigoUnico"
        name="codigoUnico"
        class="form-input codigo-input" 
        placeholder="codigo"
        maxlength="6"
        pattern="[0-9]{6}"
        required
        #codigoUnico="ngModel"
        [(ngModel)]="codigoIngresado"
      >
      @if (codigoUnico.invalid && (codigoUnico.dirty || codigoUnico.touched)) {
        <div class="error-message">
          @if (codigoUnico.errors?.['required']) {
            <div>El código es requerido</div>
          }
          @if (codigoUnico.errors?.['pattern']) {
            <div>El código debe tener 6 dígitos</div>
          }
        </div>
      }
    </div>

    <button 
      type="submit" 
      class="codigo-button"
      [disabled]="codigoForm.invalid "
    >
    
        <span>Validar Código</span>

    </button>
  </form>

  <div class="additional-options">
    <p class="resend-link">
      ¿No recibiste el código? <a (click)="enviarcodigo()">Reenviar</a>
    </p>
  </div>

</div>  
  }         
  @else{
    <app-cambiar-contrasena></app-cambiar-contrasena>
  }

